// Logo

.logo {
  width: 100%;

  .logo-container {
    padding: 10px 40px;
  }
  .logo-img {
    width: 100%;
  }
}

.main-header {
  padding: 25px 0;
  border-bottom: 0.5px $border-color solid;
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  & h3 {
    font-size: $font-size-title;
    font-weight: 600;
    line-height: 1.2;
    color: black;
  }
}

.main-header.info {
  padding: 0;
  padding-bottom: 25px;
}

.main-body {
  margin-top: 25px;
  transition: all 400ms ease-in-out;
}
