// Variables

// Color system

$white: #fff !default;
$primary: #1b98e0 !default;
$secondary: #13293d !default;
$dark: #0a4769 !default;

$color-hover: #e8f1f2;

//Header
$height-header: 50px;

// Color text
$text-color: #707070 !default;

// ICON
$background-image-icon: url('../images/logo.png');

// font size app

$font-size-body: 0.875rem;

$font-size-title: 1.3125rem;

$border-color: #70707045 !default;

$color-font-menu: rgba(0, 0, 0, 0.87);
