.avatar.header-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc($height-header - 15px);
  .image-profile {
    width: inherit;
    border-radius: 50%;
    border: white 0.5px solid;
  }
}
.avatar.body-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  .image-profile {
    width: inherit;
    border-radius: 50%;
    border: white 0.5px solid;
  }
}

.avatar._black {
  .image-profile {
    border: #999999 0.5px solid;
  }
}
.avatar-description {
  display: flex;
  .info {
    display: block;
  }
}
